@import '~@angular/material/theming';
@import '../betson-theme.scss';

:host {
  display: block;
  width: 100%;
}
.app {
  height: 100%;
  &__header {
    position: relative;
    text-align: center;
    padding: 35px 0;
  }
  &__logo {
    width: 75px;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    margin: 64px auto 0;
    height: calc(100% - 100px);
    box-sizing: border-box;
    overflow: hidden auto;
  }
  &__container {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    box-sizing: border-box;
    flex: 2;
    padding: 0 35px;
    background: rgba(255, 255, 255, .2);
  }
  &__footer {
    position: relative;
    height: 20px;
    background: mat-color($mat-primary, 500);
    color: #fff;
    padding: 10px;
    text-align: center;
    p {
      margin: 0;
      font-weight: 600;
    }
  }
}
