@import '~@angular/material/theming';
@import '../../../betson-theme';

$animationSpeed: 2s;

:host {
  display: block;
  width: 100%;
}

.background {
    &__bg{
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      fill: transparent;
      z-index: 0;

      .bg{
        stroke: mat-color($mat-warn, 100)
      }
    }

    .blink{                
        .bg {fill: url(#gr-1);}

        .stop-color {
            stop-color: transparent;
            animation: colors $animationSpeed linear 1;
            &--1 {                      
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.1);
            }
            &--2 {                
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.2);
            }
            &--3 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.4);
            }
            &--4 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.5);
            } 
            &--5 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.6);
            }
            &--6 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.7);
            }
            &--7 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.8);
            }
            &--8 {
                animation-delay: calc(#{$animationSpeed} - #{$animationSpeed}*.9);
            }
        }
    }
}

@keyframes colors {
    0% {
        stop-color: transparent;
    }  
    50% {
        stop-color: mat-color($mat-warn, 500, .2);
    }       
    100% {
        stop-color: transparent;
    }   
}
