/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'betson-theme.scss';


html,
body {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  height: 100%;
  width: 100%;
  overflow:hidden;
  margin: 0;
  padding: 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
  display: flex;
}
